body {
    font-family: Arial, sans-serif;
    background-color: #8cd3fcb6;
    margin: 0;
    padding: 20px;
}

h1 {
    color:#000000;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

#addMovieButton {
    background-color: #798dd1;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

#randomButton {
    background-color: #798dd1;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
}

#movieInput {
    border: 1px solid #030101;
    padding: 10px;
    border-radius: 10px;
    font-size: 22px;
    width: 300px;
    margin-right: 10px;
}

#movieList {
    border-right: 2px solid #030101;
    padding: 10px;
    margin: 20px 0;
    font-size: 22px;
}

#result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}